-
    let mainMenu = [
        ['Home', '#'],
        ['Why MISOCIAL', '#'],
        ['Features', '#'],
        ['Articles', '#'],
        ['Pricing', '#'],
    ]

mixin menu(mainMenu, colorTheme="light", fixed="")
    .navigation.flex-between.items-center(class=fixed)
        .logo 
            a(href="index.html")
                img(src="https://github.com/space-prog/misocial/blob/master/src/img/logo.png?raw=true", alt="")
                span(class=colorTheme) MISOCIAL
        nav.nav.flex-between.items-center
            div(class=colorTheme).burger 
                span.bord.b1 
                span.bord.b2 
                span.bord.b3 
            .menu-burger(class=colorTheme)
                ul(class=colorTheme).ul
                    li(class=colorTheme).cancel
                       svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50")
                            path(d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z")
                    for item in mainMenu
                        li
                            a(class=colorTheme, href=item[1]) #{item[0]}
                a(class=colorTheme).cta_empty get started

-
    let cardInfo = {
        satelite: {
            img: "https://github.com/space-prog/misocial/blob/master/src/img/satelite.png?raw=true",
            alt: "description img",
            personal: "personal",
            currency: "$",
            price: "0",
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            ctaText: "select plan",
            href: "#",
        },
        mars: {
            img: "https://github.com/space-prog/misocial/blob/master/src/img/mars.png?raw=true",
            alt: "description img",
            personal: "personal",
            currency: "$",
            price: "29",
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            ctaText: "select plan",
            href: "#",
        },
        rocket: {
            img: "https://github.com/space-prog/misocial/blob/master/src/img/rocket.png?raw=true",
            alt: "description img",
            personal: "personal",
            currency: "$",
            price: "49",
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            ctaText: "select plan",
            href: "#",
        }
    } 

mixin card(oneCard)
    figure 
        figcaption 
            .flex.center 
                img(src=oneCard.img, alt=oneCard.alt).figImg
            p.personal.textCenter.personal #{oneCard.personal}
            p.price.textCenter
                sup 
                    span.currency #{oneCard.currency}
                b #{oneCard.price}
                if isMonth 
                    span.monthYear /month
                else 
                    span.monthYear /year
            ul.description 
                for stroke in oneCard.description
                    li #{stroke}
            .flex.center
                a(href=oneCard.href) #{oneCard.ctaText} 

mixin line(line, text="text", lineClass="line", textClass="white")
    .test.flex.center
        span(class=lineClass).line
        b(class=textClass).text_test=text
        span(class=lineClass).line